In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("D:\project\credit_risk_dataset.csv")

In [3]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
df.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length              895
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3116
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

##### Handling missing values

In [5]:
df['person_emp_length'].fillna(df['person_emp_length'].median(), inplace=True)

In [6]:
df['loan_int_rate']=df.groupby('loan_grade')['loan_int_rate'] \
                        .transform(lambda x: x.fillna(x.median()))

In [7]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           32581 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               32581 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [9]:
df.to_csv("Credit_risk.csv", index=False)

In [11]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

##### SQL

In [10]:
import pymysql

In [13]:
connection=pymysql.connect(
    host='localhost',
    user='root',
    password='DataScience@12',
    database='Creditrisk',
    port=3306
)
cursor=connection.cursor()

In [18]:
Create_table='''CREATE TABLE if not exists df(person_age int, 
                                                person_income bigint,
                                                person_home_ownership varchar(50),
                                                person_emp_length float,
                                                loan_intent varchar(50),
                                                loan_grade char(5),
                                                loan_amnt bigint,
                                                loan_int_rate float,
                                                loan_status int,
                                                loan_percent_income float,
                                                cb_person_default_on_file char(5),
                                                cb_person_cred_hist_length int)'''
cursor.execute(Create_table)
connection.commit()

for index, row in df.iterrows():
    insert_table='''INSERT INTO df(person_age, person_income, person_home_ownership, person_emp_length, loan_intent, loan_grade,
                                    loan_amnt, loan_int_rate, loan_status, loan_percent_income, cb_person_default_on_file, cb_person_cred_hist_length) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
    
    values=(row['person_age'], row['person_income'], row['person_home_ownership'], row['person_emp_length'], row['loan_intent'], row['loan_grade'],
                row['loan_amnt'], row['loan_int_rate'], row['loan_status'], row['loan_percent_income'], row['cb_person_default_on_file'], row['cb_person_cred_hist_length'])
    cursor.execute(insert_table, values)
    connection.commit()